.footer__row-links {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: grid;
    column-gap: 18px;
    grid-template-columns:  max-content max-content max-content max-content max-content;
}