.footer__copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}