.lead__caption {
    max-width: 636px;
    min-height: 10px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}